body {
  font-family: 'Cousine', monospace;
  font-size: 16px;
}
.dialog {
  background-color: white;
  padding: 1.5rem;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.esc-menu {
  background-color: white;
  display: none;
  padding: 1.5rem;
  position: fixed;
  top: 200px;
  left: 200px;
  z-index: 10;
}
img {
  display: none;
}