body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.dialog {
  background-color: white;
  padding: 1.5rem;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.intro-menu {
  background-color: white;
  margin: 2rem auto;
  padding: 1.5rem;
  width: 30rem;
}
.esc-menu {
  background-color: white;
  display: none;
  padding: 1.5rem;
  position: fixed;
  top: 100px;
  left: 200px;
  z-index: 10;
}
.intro-menu img {
  display: block;
  max-width: 100%;
}
img {
  display: none;
}
.cover {
  position:fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(200,200,200,.5);
  text-align: center;
}

.audioDiv
{
    display: table;
    margin: 0 auto;
}

.flexslider ul, ol {
  list-style-type: none;
}
.flexslider li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.flex-viewport {
  width: 100%;
}
.flex-control-nav, .flex-control-paging {
  display: none;
}
.flex-direction-nav {
  display: block;
}
.flex-nav-prev, .flex-nav-next {
  max-width: 50%;
}
.flex-nav-prev {
  float: left;
}
.flex-nav-next {
  float: right;
}
.lets-go {
  cursor: pointer;
  margin: 0 auto;
}

.health
{
  color: white;
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 30px;
}